<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSUserNotificationUsageDescription</key>
	<string>Drinky Poo sends a daily reminder to log whether today was a dry day or a drinking day.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>AppBackground</string>
		<key>UIImageName</key>
		<string>LaunchIcon</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
</dict>
</plist>
